.container {
    width: auto;
    max-width: 800px;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

.ftype{
    padding-left: 35px !important;
    padding-top: 10px !important;
}

.table th, .table td{
    vertical-align: middle;
}

.ng-modal-overlay {
    /* A dark translucent div that covers the whole screen */
    position:absolute;
    z-index:9999;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:#000000;
    opacity: 0.8;
}
.ng-modal-dialog {
    /* A centered div above the overlay with a box shadow. */
    z-index:10000;
    position: absolute;
    width: 50%; /* Default */

    /* Center the dialog */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);

    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
    padding:10px;
    text-align: left;
}
.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}

.search-form-content{
    display: none;
}
.search-form-top{
        display: inline-block;
    }

@media(max-width:976px){
    .search-form-content{
        display: block;
    }
    .search-form-top{
        display: none;
    }
}
@media(max-width:380px){
    
    .container,.container-fluid,.navbar-brand{
        font-size: 12px;
    }
}